{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>About Me</h1>
        <p>Hello! My name is Marina Simion and I am a first year student at the Faculty of Automatic Control and Computer Science at the University Politehnica of Bucharest. I created this web application as an assignment for one of my classes. Being asked to make a photo gallery, where the photos are divided into categories, I thought it was the perfect opportunity to showcase my love for flowers and present some from every season. Enjoy!</p>
    </div>
</div>
{% endblock %}
